@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700;800;900&display=swap");
html {
  scroll-behavior: smooth;
}

body,
body * {
  margin: unset;
  box-sizing: unset;
  padding: unset;
  font-size: unset;
  color: unset;
  text-decoration: unset;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Poppins", sans-serif;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 15vh;
  background: rgb(165, 160, 153);
  position: fixed;
  border-bottom: 2px solid rgb(45, 45, 45);
}

.head-text {
  font-weight: 700;
  font-size: 1.5em;
}

.head-text:hover{
  color: antiquewhite;
}

header ul {
  display: flex;
}

header li {
  list-style: none;
  padding: 10px;
}

header button {
  height: 40px;
  width: 120px;
  background-color: rgb(220, 205, 186);
  border: 3px solid rgb(44, 42, 42);
  border-radius: 40px;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}

header button:hover {
  background-color: rgb(237, 206, 175);
  transform: scale(1.1);
  transition: all 0.25s;
}

.hero {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap-reverse;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: url(./silvana-carlos-TPdR4J19SGQ-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  text-align: center;
}

.hero-main-text {
  letter-spacing: 0.1rem;
  word-spacing: 0.5rem;
  font-size: 2.5em;
  font-weight: 900;
  color: lavender;
}

.hero-subtext {
  font-size: 1.2em;
  color: rgba(230, 230, 250, 0.758);
  width: 80%;
  text-align: center;
}

.box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  width: auto;
  padding: 20px;
}

.box:nth-child(odd) {
  background: rgb(165, 160, 153);
  flex-wrap: wrap;
}

.box:nth-child(even) {
  background: rgb(250, 242, 232);
  flex-wrap: wrap-reverse;
}

.box-text {
  width: 350px;
  margin-bottom: 15px;
}

h1 {
  font-size: 1.5em;
}

.box1-image {
  width: 350px;
  height: 70vh;
  border-radius: 20px;
  background-image: url(./pexels-aysun-kahraman-öktem-5938110.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.box2-image {
  width: 350px;
  height: 70vh;
  border-radius: 20px;
  background-image: url(./hamza-bounaim-NTzc9BjMP0M-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.box3-image {
  width: 350px;
  height: 70vh;
  border-radius: 20px;
  background-image: url(./liliya-kontanistova-C9-xzPSLgME-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}

.box4-image {
  width: 350px;
  height: 70vh;
  border-radius: 20px;
  background-image: url(./priscilla-fraire-0wnveO0xNmQ-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left bottom;
}

.box5 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  height: fit-content;
  min-height: 100vh;
}

.box5 h1 {
  font-size: 2em;
  margin-bottom: 20px;
}

.box5 p {
  margin-top: 15px;
}

.images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
  width: 90%;
}

.small-image {
  width: 200px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px 20px;
}

.small-image img {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  object-fit: cover;
  object-position: bottom;
}

.box5 ul {
  display: flex;
  flex-wrap: wrap;
}

.box5 li {
  width: 200px;
  height: 100px;
  background-color: rgb(238, 220, 203);
  padding: 5px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

#where-to-get {
  flex-direction: column;
  justify-content: space-around;
}

#where-to-get h1 {
  font-size: 2em;
}

iframe {
  width: 80%;
  height: 70vh;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10vh;
  background-color: whitesmoke;
  border-top: 2px solid lightgray;
}

#faq {
  flex-direction: column;
  height: fit-content;
  padding: 50px 20px;
}

.faq {
  width: 70%;
  padding: 10px;
  background-color: antiquewhite;
  border-radius: 10px;
}

.ques {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 45px;
  border-bottom: 1px solid;
  font-weight: 700;
}

.ans {
  height: fit-content;
  width: 95%;
  position: relative;
  left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.ans a {
  color: purple;
}

.ans a:hover {
  text-decoration: underline;
}

.ques button {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  background-color: white;
}

.ques button:hover{
  background-color: lightgray;
}

.hide {
  display: none;
}

.mhead {
  display: none;
}

.mhead h1 {
  position: absolute;
  left: 20px;
}

.mhead button {
  position: absolute;
  right: 20px;
  border: none;
  background: none;
  font-size: 20px;
}

.nav {
  display: none;
}

.modal {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-text {
  font-weight: 700;
  width: 300px;
  height: 300px;
  background-color: rgb(237, 206, 175);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
}

.modal p {
  padding-bottom: 10px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 400;
}

.modal button {
  position: absolute;
  right: 20px;
  top: 10px;
  background: none;
  border: none;
  cursor: pointer;
}

input[type="submit"] {
  background: rgb(250, 242, 232);
  height: 30px;
  width: 100px;
  border-radius: 30px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: rgb(165, 160, 153);
}

input[type="text"] {
  background: white;
  border: none;
  outline: none;
  height: 30px;
  padding: 0 10px;
  border-radius: 30px;
}

@media only screen and (max-width: 500px) {
  header {
    display: none;
  }

  .mhead {
    display: flex;
    height: 8vh;
    width: 100%;
    align-items: center;
    background-color: rgb(220, 205, 186);
  }

  .nav {
    display: block;
    position: fixed;
    width: 200px;
    height: 100%;
    background: gray;
    right: -200px;
    transition: all 1s;
    z-index: 1;
  }

  .nav button {
    position: relative;
    left: 10px;
    top: 15px;
    border: none;
    background: none;
  }

  .nav-links {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 30%;
    padding: 20px;
  }

  .nav .sub{
    height: 40px;
    width: 120px;
    background-color: rgb(220, 205, 186);
    border: 3px solid rgb(44, 42, 42);
    border-radius: 40px;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
  }

  footer{
    height: 5vh;
  }
}
